#content{
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    padding: 0;
}
a {
    color: #1e3a44 !important ;
}
a:focus,
button:focus,
input:focus,
textarea:focus {
outline: none;
}
/************************************/
/*              SideBar
/************************************/
.sidebar{
    min-height: 100%;
    position: absolute;
    background-color: white;
    border-right: solid #efefef 1px;
}
.sidebar .nav-item{
    width:100%;
}
.logo {
    margin: auto;
    display: block;
    margin-bottom: 20px;
}
/************************************/
/*              Page Content
/************************************/
.page-content{
    min-height: 100%;
    position: absolute;
    padding: 0;
    right:0;
    background-color: white;
}
.project-nav, .page{
    margin: 0;
    position: relative;
    padding:20px;
}
.nav-tabs .nav-link {
    border:none;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #fff #fff #fff;
  border-bottom-color: #dee2e6;
}
.page-content .nav-link.active{
    border-bottom: 5px solid #abe0f4;
    border-radius: 0;
}
.start-project-btn{
    background-color: #fff9b2;
    padding: 8px 35px;
    border:none;
    border-radius: 25px;
    box-shadow: 2px 2px #efefef;
    margin-right: 10px;
}
/************************************/
/*              Login Page
/************************************/
.login{
    margin:0;
    position: relative;
    display: grid;
    border-radius: 0;
    box-shadow: #efefef 10px 10px;
}
.login-page{
    height: 100vh;
}
.login-form{
    padding:10%;
}
#submitLogin{
    margin-top: 10px;
    background-color: #abe0f4;
    border: #abe0f4;
    border-radius: 0;
    padding: 8px 35px;
}
.form-control {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #efefef;
    outline: none;
}
input.form-control:focus, button.btn:focus {
    border:none;
    box-shadow:none;
}